body{
    font-family:sans-serif;
    text-align:justify;
}



/*Navigation links */
#sidebar{
    font-size:small;
    font-weight:normal;
    text-align:left;
    width:13%;
   /* background-color:#f1f1f1;*/
    float:left;
    position: fixed;
    margin: 0 0 300px -10px;
    padding: 85px 0px;
    height: 1000px;
}

#sidebar ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.sidebarlist li a{
    display:block;
    color:#000;
    padding:5px;
    text-decoration:none;
}
.chapter{
    border-bottom:1px solid #8ABC8C;
}

.chapter:hover{
    background-color:#66666613;
    color:black;
}
.chapterbrand{
    font-size:2vmin;
    background-color:#6b6b6b;
    font-weight:bold;
    padding:5px 5px 5px 15px;
    font-size:larger;
}
#title{
    background-color: white;
    position: absolute;
}
/*Headline*/
#headline{
    position: absolute;
}

/*Content*/

.left{
    width: 20.55%;
    height:80%;
    float:left;
    z-index:-1;

}
.table-row{
    width: 80%;
    float:left;
    display:table;
    margin-left: 15%;

}
.table-row:nth-of-type(4){
    padding-top: 10%;
}
.zelle{
    display: table-cell;
    border: 1px solid blue;
}

.header{
    position: fixed;
    top: -5px;
    background-color: rgb(255, 235, 205);
}
.vers{
    min-height: 3em;
}
select{
    /* irrelevante Eigenschaften gekürzt */
    position: sticky;
    padding:.75em 1em .5em 1em;
    margin-left: 1em;
    border: none;
    background: white;
    padding-bottom: -3px;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-image: 
    linear-gradient(
        to left, 
        black, 
        rgba(0, 0, 0, 0)
      ) 1;
}

.infobox{
    color: #367C39;
    font-size: xx-large;
}

option{
    background:#f1f1f1;
    color:black;
}

option:hover{
    background-color:rgb(138, 188, 140);
    color:white;
}   